<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @label.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @label.content %>
</p>

<p>
  <strong>Bg image:</strong>
  <%= @label.bg_image %>
</p>

<p>
  <strong>Bg color:</strong>
  <%= @label.bg_color %>
</p>

<p>
  <strong>Text color:</strong>
  <%= @label.text_color %>
</p>

<p>
  <strong>Opacity:</strong>
  <%= @label.opacity %>
</p>

<p>
  <strong>Rotate:</strong>
  <%= @label.rotate %>
</p>

<p>
  <strong>Z index:</strong>
  <%= @label.z_index %>
</p>

<p>
  <strong>Left:</strong>
  <%= @label.left %>
</p>

<p>
  <strong>Top:</strong>
  <%= @label.top %>
</p>

<p>
  <strong>Is del:</strong>
  <%= @label.is_del %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
